body {
  background-color: burlywood;
}
p,
h1 {
  font-weight: 900;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.error-message {
  color: red;
}

#resultTemplate {
  margin: auto;
  width: 50%;
  border: 3px solid whitesmoke;
  padding: 10px;
}
