body {
  background-color: burlywood;
}
p,
h1 {
  font-weight: 900;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.error-message {
  color: red;
  animation: shake 0.5s ease-in-out; /* Adjust duration and timing as needed */
}

.error-message:hover {
  animation: none; /* Stop the animation on hover */
}

#resultTemplate {
  margin: auto;
  width: 50%;
  border: 3px solid whitesmoke;
  padding: 10px;
}
